@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Space Grotesk';
  src: url('../public/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Liga-Sans';
  src: url('../public/fonts/LigaSans-Bold.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.text-gradient {
  background: linear-gradient(45deg, #ff6ec4, #7873f5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-ligatures {
  font-variant-ligatures: no-common-ligatures;
}
